# Ignore as configurações específicas do usuário
*.user
*.userosscache
*.suo
*.sln.docstates
*.sln.ide
*.csproj.user

# Ignore os diretórios de build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
.idea/
.vscode/
.log/

# Ignore os arquivos de configuração de ambiente
appsettings.json

# Include the example settings file
!appsettings.example.json

# Ignore os pacotes
*.nupkg
*.snupkg

# Ignore os logs
*.log
